:root {
  --font-family-inter: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #0f3d3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  flex: 1;
  text-align: center;
}

nav h2 {
  font-family: var(--font-family-inter);
  color: #fff;
  opacity: 0.9;
  margin: 20px;
  padding-right: 10px;
}

nav .nav-item{
  font-family: var(--font-family-inter);
  flex: 1;
  text-align: center;
  font-weight: 600;
  color: #fff;
  opacity: 0.5;
  display: block;
  padding-block: 30px;
  padding-inline: 20px;
  text-decoration: none;
}
a.logo {
    font-family: var(--font-family-inter);
    text-decoration: none;
}

a.nav-item:hover {
  opacity: 1;
}

a.nav-item.active{
  opacity: 1;
}

.container {
  font-family: var(--font-family-inter);
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-bottom: 100px;
}

.container h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.cards {
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  border-radius: 15px;
  background: #0f3d3e;
  padding-inline: 50px;
}

.card-value {
      margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

p.card-num{
    margin-top: 10px;
  font-size: 25px;
}


#map {
  height: 180px;
}
