{{define "charts"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СППУР "Адаптация"</title>
    <link rel="stylesheet" href="/styles/charts.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
      {{if .IsUser}}
      {{template "admin-header" .}}
      {{else}}
      {{template "header" .}}
      {{end}}
    <div class="container">
        <h1>Графики загрязнений воздуха в Тюмени за последние 7 дней</h1>
      <div class="chart">
        <canvas id="pm25Chart"></canvas>
        <canvas id="pm10Chart"></canvas>
      </div>
      <div class="chart">
        <canvas id="no2Chart"></canvas>
        <canvas id="coChart"></canvas>
      </div>
      <div class="advice">
        <h3>PM2.5</h3>
        <p>Частицы загрязняющих веществ диаметром менее 2,5 микрометров могут попадать в легкие и кровеносную систему и проводить к серьезным проблемам со здоровьем. Наиболее серьезное воздействие оказывается на сердце и легкие. 
          Воздействие таких частиц может вызывать кашель, затрудненное дыхание, обострение астмы, а также приводить к развитию хронических респираторных заболеваний.</p>
      </div>
      <div class="advice">
        <h3>PM10</h3>
        <p>Частицы загрязняющих веществ диаметром менее 10 микрометров могут оседать в дыхательных путях и приводить к проблемам со здоровьем. 
          Воздействие таких частиц может вызывать раздражение глаз и горла, кашель, затруднять дыхание или приводить к обострению астмы. 
          Более частое и продолжительное воздействие может приводить к более серьезным последствиям.</p>
      </div>
      <div class="advice">
        <h3>NO<sub>2</sub></h3>
        <p>Основными источниками выбросов NO2 в атмосферу являются различные процессы горения 
          (в коммунальном отоплении, при выработке электроэнергии, в двигателях внутреннего сгорания на наземном и водном транспорте). На фоне долгосрочного воздействия 
          двуокиси азота могут обостряться симптомы бронхита у детей, больных астмой. Также с загрязнением NO<sub>2</sub> ассоциируется рост снижения функции легких.</p>
      </div>
      <div class="advice">
        <h3>CO</h3>
        <p>Газ без цвета и запаха, который при вдыхании в больших количествах может вызывать головную боль, тошноту, головокружение и рвоту. 
          Повторное длительное воздействие может привести к сердечным заболеваниям.</p>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="/scripts/charts.js"></script>
    </div>
  </body>
</html>
{{end}}
