{{define "charts"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СППУР "Адаптация"</title>
    <link rel="stylesheet" href="/styles/charts.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {{template "header" .}}
    <div class="container">
        <h1>Графики загрязнений воздуха в Тюмени за последние 7 дней</h1>
      <div class="chart">
        <canvas id="pm25Chart"></canvas>
        <canvas id="pm10Chart"></canvas>
      </div>
      <div class="chart">
        <canvas id="no2Chart"></canvas>
        <canvas id="coChart"></canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="/scripts/charts.js"></script>
    </div>
  </body>
</html>
{{end}}
