{{define "client-main"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СППУР "Адаптация"</title>
    <link rel="stylesheet" href="/styles/client-main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="scripts/client-main.js"></script>
  </head>
  <body>
    {{template "header"}}
    <div class="container">
      <h1>Экологические показатели региона</h1>
      <div class="cards">
        <div class="card">
          <div class="card-img">
            <p class="card-value card-num">{{.AQI}}</p>
          </div>
          <p>Индекс экологического состояния региона</p>
        </div>

        <div class="card">
          <div class="card-img">
            <p class="card-value">{{.Level}}</p>
          </div>
          <p>Текущий уровень риска</p>
        </div>

        <div class="card">
          <div class="card-img">
            <p class="card-value">
              {{.Danger}}
            </p>
          </div>
          <p>Краткая аналитика</p>
        </div>

        <div class="card">
          <div id="map"></div>
          <p>Карта Тюменской области</p>
        </div>
      </div>
    </div>
  </body>
</html>
{{end}}