{{define "header"}} 
<header>
      <nav class="head">
        <a class="logo" href="/"><h2>СППУР "Адаптация"</h2></a>
        <ul>
          <li><a class="nav-item {{if eq .Active "main"}}active{{end}}" href="/">Главная</a></li>
          <li><a class="nav-item {{if eq .Active "charts"}}active{{end}}" href="/charts">Статистика и графики</a></li>
          <li><a class="nav-item {{if eq .Active "rules"}}active{{end}}" href="/rules">Нормативная база</a></li>
          <li><a class="nav-item {{if eq .Active "login"}}active{{end}}" href="/login">Вход</a></li>
        </ul>
      </nav>
    </header>
{{end}}